<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seyleen</title>
    <link rel="icon" href="../static/assets/icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>

<header>
    <div class="container">
        <p style="font-size: 40px;">Schön, dass Du da bist!</p>
        <div class="hamburger-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav>
            <ul style="font-size: 25px;">
                <li><a href="#willkommen">Willkommen</a></li>
                <li><a href="#allgemeines">Allgemeines</a></li>
                <li><a href="#ablauf">Ablauf</a></li>
                <li><a href="#mittagessen">Mittagessen</a></li>
                <li><a href="#abendessen">Abendessen</a></li>
                <li><a href="#anfahrt">Anfahrt</a></li>
                <li><a href="#geschenke">Geschenke</a></li>
                <li><a href="#uebernachtung">Übernachtung</a></li>
                <li><a href="#wetter">Wetter</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>

    <section id="willkommen" class="full-height-section">
        <div style="font-size: 40px;" class="welcome-text">
            <h2 id="welcome-title"><br><br><br>Eyleen & Sebastian<br>24.05.24</h2>
            <div id="countdown" style="font-size: 35px;">
                <p id="countdown-timer"></p>
            </div>
        </div>

    </section>

    <section id="allgemeines" class="full-height-section">
        <h2 style="font-size: 40px;">Allgemeines<hr style="border-width: 5px;"></h2>
        <p style="font-size: 30px;">
            Da bist Du ja wieder, willkommen zurück! :)
            <br>
            <br>Bitte vergiss nicht Badeschuhe mitzunehmen! Da wir in einem Schwimmbad heiraten, sind im Bereich der Trauuung und im Restaurant keine Straßenschuhe erlaubt.
            <br>
            <br>Wir freuen uns auf Euch!
        </p>
    </section>

    <section id="ablauf" class="full-height-section">
        <h2 style="font-size: 40px;">Ablauf<hr style="border-width: 5px;"></h2>
        
        <div>
            <hr style="border-width: 2px;">
            <p style="font-size: 30px;">Geschlossener Teil - Brautpaar, Familien, Trauzeugen
                <br>
                <li align="left" style="font-size: 25px;">10:15 Uhr - 12:00 Uhr - Foto Session</li>
                <li align="left" style="font-size: 25px;">12:00 Uhr - 12:30 Uhr - Trauung</li>
                <li align="left" style="font-size: 25px;">12:30 Uhr - 13:00 Uhr - Ringtausch unter Wasser</li>
            </p>
            <hr style="border-width: 2px;">
        </div>

        <div>
            <p style="font-size: 30px;">Offener Teil - Gemeinsames Mittagessen - alle Anwesenden</p>
            <li align="left" style="font-size: 25px;">ca. 13:30 Uhr - 15:00 Uhr - gemeinsames Mittagessen</li>
            <p align="left" style="font-size: 20px;">Dresscode Frauen: Sommerkleid, Jeans oder Stoffhose mit Bluse</p>
            <p align="left" style="font-size: 20px;">Dresscode Männer: Jeans oder Stoffhose mit Hemd</p>
            <hr style="border-width: 2px;">
        </div>

        <div>
            <p style="font-size: 30px;">Zeit zur freien Verfügung - nach dem Mittagessen</p>
            <p style="font-size: 25px;">Alles kann, nichts muss!</p>
            <p style="font-size: 25px;">
                Habt Spaß im Freizeitbad, macht einen Tauchgang oder geht in die Sauna.
                <br>- vergesst Eure Badesachen nicht! -
                <br>Wer mag, darf natürlich auch im Restaurant sitzen bleiben und einen auf uns trinken oder einfach ein Nickerchen machen.
            </p>
            <hr style="border-width: 2px;">
        </div>

        <div>
            <p style="font-size: 30px;">Gemeinsames Abendessen - alle Anwesenden</p>
            <p style="font-size: 25px;">Wir würden gerne gemeinsam mit Euch Abendessen, 
                <br>dafür haben wir im Stellwerk in Meckenheim für 19 Uhr für uns alle reserviert.
            </p>
            <p style="font-size: 25px;">
                Paare, dessen Kinder schon früher essen wollen, müssen oder sollen, können sich bereits ab 18 Uhr im Restaurant einfinden.
                <br>
                <br> - Das Mittagessen übernehmen wir für alle, das Abendessen übernimmt jeder selbst. - 
                <hr style="border-width: 2px;">
            </p>
        </div>
    </section>

    <section id="anfahrt" class="full-height-section">
        <h2 style="font-size: 40px;">Anfahrt<hr style="border-width: 5px;"></h2>
        <p style="font-size: 25px;">
            Die Trauuung findet im Monte-Mare in Rheinbach statt.
        </p>
        <a style="font-size: 25px;" href="https://maps.app.goo.gl/vaDcb1WtFTtxSync9" target="_blank">Monte Mare, Münstereifeler Str. 69, 53359 Rheinbach</a>
        <div>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.4347557937704!2d6.931075077763243!3d50.61903997162493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bf03427e9d2707%3A0xf5034fe090ce3490!2sMonte%20Mare%20in%20Rheinbach%20bei%20Bonn!5e0!3m2!1sde!2sde!4v1707155335144!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="mittagessen" class="full-height-section">
        <h2 style="font-size: 40px;">Mittagessen<hr style="border-width: 5px;"></h2>
        <p style="font-size: 25px;">
            Damit wir uns beim Mittagessen auf das Wesentliche konzentrieren können, hat uns das Monte-Mare gebeten, ihnen die gewünschten Hauptspeisen möglichst im Voraus mitzuteilen.
            <br>
            <br>Wirf bitte einen Blick in die Speisekarte und teile uns bis zum 31.03. mit, welche Hauptspeise Du Mittag gerne essen würdest.
            <br>
            <br>Im Anschluss würden wir gesammelt für uns alle bestellen.
            <br>
            <br>
            <a style="font-size: 35px; color: #ffffff;" href="https://www.monte-mare.de/media/6b6e1982-2eec-48bb-bbdf-6a2e5133f5df/rb-speise-getrankekarte-2024-02-web.pdf" target="_blank">Hier geht es zur Speisekarte</a>
            <br>
            <br>Bitte gib pro Person eine Bestellung ab, nur so können wir sicher sein, dass niemand vergessen wird.
            <br>
            <br>Getränke und was sonst noch so dazu kommt bestellen wir dann vor Ort :)        
            <br>
            <form action="/survey_food" method="post" onsubmit="return validateFoodForm()">
                <label style="width: 100%; max-width: 300px; font-size: 25px;" for="name">Vorname, Nachname:</label><br>
                <input type="text" id="name" name="name" required style="width: 100%; max-width: 300px; font-size: 25px;"><br>
                <!-- <label style="width: 100%; max-width: 300px; font-size: 25px;" for="vorspeise">Vorspeise:</label><br>
                <input type="text" id="vorspeise" name="vorspeise" required style="width: 100%; max-width: 300px; font-size: 25px;"><br>   -->
                <label style="width: 100%; max-width: 300px; font-size: 25px;" for="hauptspeise">Hauptspeise:</label><br>
                <input type="text" id="hauptspeise" name="hauptspeise" required style="width: 100%; max-width: 300px; font-size: 25px;"><br>  
                <!-- <label style="width: 100%; max-width: 300px; font-size: 25px;" for="nachspeise">Nachspeise:</label><br>
                <input type="text" id="nachspeise" name="nachspeise" required style="width: 100%; max-width: 300px; font-size: 25px;"><br>           -->
                <h2 style="width: 100%; max-width: 300px; font-size: 25px;">Möchtest Du uns sonst noch etwas mitteilen?</h2>
                <textarea id="sonstiges" name="sonstiges" rows="4" cols="50" style="width: 100%; max-width: 300px; font-size: 25px;"></textarea><br>
                <input type="submit" value="Absenden" style="width: auto; font-size: 25px;">

            </form>
            
            <br>

            </p>
        </p>
    </section>

    <section id="abendessen" class="full-height-section">
        <h2 style="font-size: 40px;">Abendessen<hr style="border-width: 5px;"></h2>
        <p style="font-size: 25px;">
            Wir würden uns freuen, wenn Du uns noch zu einem gemeinsamen Abendessen begleiten würdest.
            <br>Hierfür haben wir im Stellwerk Meckenheim reserviert.
            <br>Das Abendessen ist für 19 Uhr geplant.
            <br>Familien und unsere kleinen Gäste, die schon sehr großen Hunger haben,
            <br> können bereits ab 18 Uhr an einem unserer Tische Platz nehmen und vorzeitig essen.
            <br>
            <br><a style="font-size: 25px;" href="https://www.stellwerk-meckenheim.de/" target="_blank">Hier gehts zur Homepage</a>
            <br>
            <br><a style="font-size: 25px;" href="https://www.stellwerk-meckenheim.de/wp-content/uploads/2024/01/Stellwerk_Speisekarte-2024-GZD.pdf" target="_blank">Hier gehts zur Speisekarte</a>
            <br>
            <br><a style="font-size: 25px;" href="https://maps.app.goo.gl/87v4MF25hytaQLMo8" target="_blank">Stellwerk Meckenheim, Bahnhofstraße 32, 53340 Meckenheim</a>
            <br>
            <br>
            <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.9955234449567!2d7.012075077763552!3d50.62719997162653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bf03e6a3219b6f%3A0x6840ea234f2f10c5!2sStellwerk%20Meckenheim!5e0!3m2!1sde!2sde!4v1707258735658!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </p>
    </section>

    <section id="anfahrt" class="full-height-section">
        <h2 style="font-size: 40px;">Anfahrt<hr style="border-width: 5px;"></h2>
        <p style="font-size: 25px;">
            Die Trauuung findet im Monte-Mare in Rheinbach statt.
        </p>
        <a style="font-size: 25px;" href="https://maps.app.goo.gl/vaDcb1WtFTtxSync9" target="_blank">Monte Mare, Münstereifeler Str. 69, 53359 Rheinbach</a>
        <div>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.4347557937704!2d6.931075077763243!3d50.61903997162493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bf03427e9d2707%3A0xf5034fe090ce3490!2sMonte%20Mare%20in%20Rheinbach%20bei%20Bonn!5e0!3m2!1sde!2sde!4v1707155335144!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="geschenke" class="full-height-section">
        <h2 style="font-size: 40px;">Geschenke<hr style="border-width: 5px;"></h2>
        <p style="font-size: 25px;">
            Unser größtes Geschenk ist, dass Ihr an diesem Tag dabei seid!
            <br>Falls Ihr Euch aber mit leeren Händen gar nicht wohlfühlt,
            <br>könnt Ihr uns natürlich trotzdem etwas schenken. 
            <br>
            <br><b>Aus nachhaltigen Gründen würden wir uns über einen Umschlag mit Geld freuen. </b>
            <br>
            <br>Keine größeren Geschenke, keine Dekoartikel etc.
            <br>Zum Einen, weil wir alles haben und wirklich nichts brauchen, 
            <br>zum Anderen, damit Ihr es nicht durch halb Deutschland karren müsst. 
    </section>

    <section id="uebernachtung" class="full-height-section">
        <h2 style="font-size: 40px;">Übernachtung<hr style="border-width: 5px;"></h2>
        <div class="container">
<!--             <p style="font-size: 25px;">
                Vielen Dank, dass Ihr uns mitgeteilt habt das Ihr im City-Hotel in Meckenheim übernachtet.
                <br>Meckenheim ist ca. 10 Minuten mit dem Auto vom Monte Mare entfernt.
                <br>
                <br>
                <br>
                <br><a href="tel:+49222588850">Telefon: 02225 88850</a>
            </p> -->
            <a style="font-size: 25px;" href="https://maps.app.goo.gl/wbRn2TxUzthVyuzu6" target="_blank">City-Hotel Meckenheim, Bonner Str. 25, 53340 Meckenheim</a>
            <br>
            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5061.769086065444!2d7.022683!3d50.62926160000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bf02a9f70840b7%3A0xa6f1d8d8e97a9a0!2sCity-Hotel%20Bonn%20%2F%20Meckenheim!5e0!3m2!1sde!2sde!4v1707157250178!5m2!1sde!2sde" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
            </div>
        </div>
    </section>
    

    <section id="wetter" class="full-height-section">
        <h2 style="font-size: 40px;">Wetter<hr style="border-width: 5px;"></h2>
        <p style="font-size: 25px;">
            Wir -das Brautpaar- werden sowieso nass, egal wie wir es drehen.
            <br>Damit Euch das nicht passiert und Ihr ein wenig besser planen könnt, hier noch ein kleiner Wetterausblick für Rheinbach.
            <br>
            <br><iframe style="width: 100%; border: none; height: 215px; background-color: transparent;" src="https://www.wetter.de/widget/3tage/u1hbn0h5/false/"></iframe>
    </section>
</main>

<footer style="font-size: 25px;">
    © Seyleen 2024
</footer>

<script src="../static/js/main.js"></script>
<script src="../static/js/countdown.js"></script>
<script>
    // Speichern der aktuellen Scroll-Position beim Absenden des Formulars
    document.addEventListener('submit', function(event) {
        var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
        document.getElementById('scrollPosition').value = scrollPosition;
    });

    // Wiederherstellen der Scroll-Position nach dem Neuladen der Seite
    window.onload = function() {
        var scrollPositionInput = document.getElementById('scrollPosition');
        if (scrollPositionInput.value !== "") {
            window.scrollTo(0, parseInt(scrollPositionInput.value));
            scrollPositionInput.value = "";  // Zurücksetzen der Scroll-Position nach dem Gebrauch
        }
    };
</script>
<script>
    // Funktion zum Erstellen des Kalenders
    function createCalendar() {
        const today = new Date();
        const startInput = document.getElementById('start-date');
        const endInput = document.getElementById('end-date');

        // Setze das Startdatum auf heute und das Enddatum auf morgen
        const tomorrow = new Date(today);
        tomorrow.setDate(today.getDate() + 1);
        startInput.value = formatDate(today);
        endInput.value = formatDate(tomorrow);

        // Überprüfe das Enddatum beim Ändern des Startdatums
        startInput.addEventListener('change', function() {
            const startDate = new Date(startInput.value);
            const endDate = new Date(endInput.value);

            if (startDate > endDate) {
                alert('Das Enddatum darf nicht vor dem Startdatum liegen!');
                endInput.value = formatDate(startDate); // Setze das Enddatum auf das Startdatum
            }
        });

        // Überprüfe das Startdatum beim Ändern des Enddatums
        endInput.addEventListener('change', function() {
            const startDate = new Date(startInput.value);
            const endDate = new Date(endInput.value);

            if (endDate < startDate) {
                alert('Das Enddatum darf nicht vor dem Startdatum liegen!');
                endInput.value = formatDate(startDate); // Setze das Enddatum auf das Startdatum
            }
        });
    }

    // Funktion zum Formatieren des Datums als dd.mm.yyyy
    function formatDate(date) {
        const day = String(date.getDate()).padStart(2, '0');
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const year = date.getFullYear();
        return `${day}.${month}.${year}`;
    }
</script>

<script>
    // Funktion zum Anzeigen des Popups für die Essensumfrage
    function showFoodPopup() {
        alert("Vielen Dank für deine Abstimmung! Vielen Dank!");
    }
</script>

<script>
    // Funktion zur Validierung der Buchungsdaten
    function validateBookingDates() {
        var startDate = document.getElementById("start-date").value;
        var endDate = document.getElementById("end-date").value;

        // Überprüfen, ob das Startdatum älter als das Enddatum ist
        if (startDate >= endDate) {
            alert("Das Startdatum muss vor dem Enddatum liegen. Bitte berichtige die eingegebenen Daten um den Vorgang abzuschließen. :)");
            return false; // Daten sind ungültig, Popup wird nicht angezeigt
        }

        return true; // Daten sind gültig, Popup wird angezeigt
    }

    // Funktion zum Anzeigen des Popups für die Zimmerbuchung
    function showRoomPopup() {
        if (validateBookingDates()) {
            alert("Zimmerbuchung erfolgreich übermittelt! Vielen Dank!");
        }
    }
</script>


</body>
</html>
